{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    <div class="menu">
        <td>menu</td>
        <td>Contatos</td>
        <td>OI</td>
        <td>TESte</td>
    </div>
    
    <h1>Hello world</h1>
    <p><a href="{% url 'perfil' %}">Perfil usuario</a></p>
    <h2>Contatos</h2>
    <p><a href="{% url 'contato' %}">Contato</a></p>
</body>
</html>